/*全域樣式*/
*{
box-sizing: border-box;
position:relative;
/*border: solid 1px #000;*/
}
.clearfix{
display: block;
/*float以下的區塊可以正常排列
float寫right clear 就要寫right
clear both 就都可以適用 */
clear: both;
height: 0px;
visibility: hidden;
}

html,body{
height:100%;
width:100%;
font-family: 'Roboto', sans-serif;
font-weight: 300;
letter-spacing: 0.1em;
}

ul{
list-style: none;
margin: 0;
padding: 0;
}

a{
text-decoration: none;
}


.web-hidden{
		display: none;
		opacity: 0;
		visibility: hidden;
	}

.mobile-hidden{
		display: block;
		opacity: 1;
		visibility: visible;
	}

@media (max-width: 1024px) {
	.mobile-hidden{
		display: none!important;
		opacity: 0;
		visibility: hidden;
	}
	.web-hidden{
		display: block;
		opacity: 1;
		visibility: visible;
	}
}


/*------------------------------------*\
	grid
\*------------------------------------*/

.mask:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: rgba(0,0,0,0.8);*/
	background: rgba(0,0,0,0.9);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 67%, rgba(0,0,0,0.6) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.9)), color-stop(67%, rgba(0,0,0,0.8)), color-stop(100%, rgba(0,0,0,0.6)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 67%, rgba(0,0,0,0.6) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 67%, rgba(0,0,0,0.6) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 67%, rgba(0,0,0,0.6) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 67%, rgba(0,0,0,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.wrapper{
height:100%;
}

.hero{
	padding: 30px 0;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}

.container:after{
	content: "";
	display: block;
	clear: both;
}

.row{
	margin: 0 -16px;
}
.row:after{
	content: "";
	display: block;
	clear: both;
}
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1{
	float: left;
	padding: 0 8px;
}
.col-lg-12{
	width: 100%;
}
.col-lg-11{
	width: 91.6666%;
}
.col-lg-10{
	width: 83.3333%;
}
.col-lg-9{
	width: 75%;
}
.col-lg-8{
	width: 66.6666%;
}
.col-lg-7{
	width: 58.3333%;
}
.col-lg-6{
	width: 50%;
}
.col-lg-5{
	width: 41.6666%;
}
.col-lg-4{
	width: 33.3333%;
}
.col-lg-3{
	width: 25%;
}
.col-lg-2{
	width: 16.6666%;
}
.col-lg-1{
	width: 8.3333%;
}


@media(max-width: 1024px){
	.col-lg-12,
	.col-lg-11,
	.col-lg-10,
	.col-lg-9,
	.col-lg-8,
	.col-lg-7,
	.col-lg-6,
	.col-lg-5,
	.col-lg-4,
	.col-lg-3,
	.col-lg-2,
	.col-lg-1{
		width: 100%;
		padding-top: 32px;
	}
}

.image-container{
	width: 100%;
	display: block;
}

.image-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 40%;
}

.image-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}



/*------------------------------------*\
	base
\*------------------------------------*/

.title{
	text-align: center;
	padding-top: 16px;
}

.description{
	text-align: center;
	line-height: 1.6em;
	padding-top: 16px;
}

.line{
	width: 40px;
	display: block;
	margin: 24px auto;
	border-bottom: 2px solid #0a0909;
}

.black-box{
	margin: 0px 32px -80px 32px;
	height:100px;
	border-radius:8px 8px 0 0;
	background-color: #000;
	z-index: 1;
}

.yellow-box{
	margin: 0px 32px -80px 32px;
	height:100px;
	border-radius:8px 8px 0 0;
	background-color: #f5bd26;
	z-index: 1;
}

.white-card{
	background-color: #fff;
	border-radius: 8px;
	height: 460px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	margin: 0 32px;
	padding-top: 80px;
}

@media(max-width: 1024px){
	.black-box{
		margin: 0px 0px -80px 0px;
		height:100px;
		border-radius:8px 8px 0 0;
		background-color: #000;
		z-index: 1;
	}

	.yellow-box{
		margin: 0px 0px -80px 0px;
		height:100px;
		border-radius:8px 8px 0 0;
		background-color: #f5bd26;
		z-index: 1;
	}

	.white-card{
		background-color: #fff;
		border-radius: 8px;
		/*height: 460px;*/
		box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
		margin: 0 ;
		padding-top: 80px;
	}
}


table{
	border-collapse:collapse;
}

th{
	height: 80px;
	width: 20%;
}

td{
	height: 56px;
	line-height: 32px;
	padding: 8px;
}

th,td{
	text-align: center;
}

.tbody th,.tbody td{
	border: solid 1px #F0F0F0;
	background-color: #fff;
}

.bg-light-gray{
	background-color: #8C8C8C;
}

.bg-dark-gray{
	background-color: #4A4A4A;
}

.bg-black{
	background-color: #000;
}

.bg-yellow{
	background-color: #F5BD26;
}









































