.button{
	text-align: center;
	margin: 30px 0;
}

.btn{
	width: 160px;
	height: 48px;
	border-radius: 4px;
	text-align: center;
	line-height: 48px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	display: inline-block;
	margin: 0 8px;
	cursor: pointer;
}

.lg-btn{
	width: 260px;
	height: 48px;
	border-radius: 4px;
	text-align: center;
	line-height: 48px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	display: inline-block;
	margin: 0 8px;
	cursor: pointer;
}

.btn-default{
	background-color: #f5bd26;
	color: #000;
}

.btn-default:hover{
	border: solid 1px #f5bd26;
	background-color: rgba(0,0,0,0);
	color: #f5bd26;
}

.btn-primary{
	border: solid 1px #f5bd26;
	background-color: rgba(0,0,0,0);
	color: #f5bd26;
}

.btn-primary:hover{
	background-color: #f5bd26;
	color: #000;
}

.btn-success{
	background-color: #f5bd26;
	color: #000;
}

.btn-success:hover{
	border: solid 1px #000;
	background-color: rgba(0,0,0,0);
	color: #000;
}

.btn-info{
	background-color: #000;
	color: #f5bd26;
}

.btn-info:hover{
	border: solid 1px #000;
	background-color: rgba(0,0,0,0);
	color: #000;
}

/*top button*/
.top-btn{
	width: 60px;
	height: 60px;
	border-radius: 99px;
	text-align: center;
	line-height: 36px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
	color: #f5bd26;
	background-color: #000;
}

.top-text,.top-btn i{
	line-height: 0;
}









