h1,h2,h3,h4,h5,h6,p{
/*預設瀏覽器會有margin:10px要先歸零*/
margin:0;
padding:0;
font-family: 'Roboto', sans-serif;
font-weight: 300;
letter-spacing: 0.1em;
}

h1{
	font-size: 40px;
	font-weight: 400;
}
h2{
	font-size: 32px;
	font-weight: 400;
}
h3{
	font-size: 24px;
	font-weight: 400;
}
h4{
	font-size: 16px;
}
p{
	font-size: 14px;
	line-height: 30px;
}

i{
	padding: 4px;
}

.yellow-font{
	color: #f5bd26;
}

.white-font{
	color: #fff;
}

.black-font{
	color: #000;
}
